h1.text-uppercase{color:#291672;text-align: center;font-size: 1.8rem;background: url(cssimg/scribble.png) no-repeat center center;background-size: contain;line-height: 1em;padding-top: 1em;padding-bottom: 1em;margin-bottom: 0;}

.slide-home div, .page-header{
    position: relative;
    width:100%;
}
.slide-home div img, .page-header img{
    z-index:0;
    position: relative;
    opacity:0.6;
    width:100%;
}
.slide-home div .caption, .page-header .caption{
    opacity: 0;
    position: absolute;
    top:75%;
    width:80%;
    margin:0 auto;
    left:0;
    right:0;
    z-index:1;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    color:#fff;
}
.page-header img, .page-header .caption{
    opacity:1;
}
.page-header .caption{
    width:94%;
    top:75%;
}

.page-header {
    padding-bottom: 0;
    margin-bottom: 0;
}
.page-header::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /* background: -moz-linear-gradient(left, rgba(48,29,110,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(48,29,110,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(48,29,110,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301d6e', endColorstr='#00ffffff',GradientType=1 ); */
}
.slide-home div .caption h1, .page-header .caption h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.slide-home div .caption h1 span,{
    font-weight: 500;
    font-size: 40px;
    color: #f7be11;
}

.page-header .caption h1 span{
    font-weight: 500;
    font-size: 40px;
    color: #f7be11;
    background:#110057;
    padding: 10px 20px;
    border-left:5px solid #ffc412;
}



.page-content{
    position: relative;
    background: #f7f7f7;
    padding-top:20px;
    width:100%;
    text-align: left;
    padding-left: 20px;padding-right: 20px;padding-top: 40px;
}
.page-content:after{clear:both;display: table;content:'';}
.page-content .table .info td{
    background: #f7be11;
    color: #1c0d4c;
}
.page-content-content{margin-left: 240px;background: #fff;padding: 20px 30px;border-radius: 4px;}


.submenu{
    width: 100%;
    margin-bottom: 50px;
    position: absolute;
    width: 200px;
    left: 40px;
    top: 100px;
}
.submenu.is-floating{position: fixed;top:100px;left:40px;}
.submenu a{
    display: block;
    padding:15px;
    background: #301d6e;
    color:#fff;
    margin-bottom: 1px;
}
.submenu a:hover{
    background: #1c0d4c;
}
.submenu a.active{
    background: #f7be11;
    color: #301d6e;
}

.struktur{display: block;}