@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i&display=swap');
/*All @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');*/
.ujidjka{}
html{font-size: 17px;}
body{font-size: 1rem;position: relative;font-family: "Raleway",sans-serif;color:#2B2E34;}
h1,h2,h3,h4,h5,h6{margin-bottom: 1em;}
h1,h2, h3{font-weight: bold;color:#291672;}
h4{color:#291672;font-size: 1.5rem;}
h5{}
a,a:visited{color:#291672;}
img{max-width: 100%;}

/* STYLE FOR RICH TEXT / TINIMCE / EDITOR */
.djka-richtext{font-size: 1rem;line-height: 1.5em;}
    .djka-richtext h1{font-size: 2rem; color:#2b2e34;margin-bottom: 1em;font-weight: bold;}
    .djka-richtext h2{font-size: 1.8rem;color:#2b2e34;margin-bottom: 1em;font-weight: bold;}
    .djka-richtext h3{font-size: 1.4rem;color:#2b2e34;margin-bottom: 1em;font-weight: bold;}
    .djka-richtext h4{font-size: 1.2rem;color:#2b2e34;margin-bottom: 1em;font-weight: bold;}
    /*TEMPORARY, REMOVE THIS LINE WHEN CMS DATA IF FIXED .djka-richtext h4{font-weight: normal;} */
    .djka-richtext h5{font-size: 1rem;color:#2b2e34;margin-bottom: 1em;font-weight: bold;}
    .djka-richtext h6{font-size: 0.9rem;color:#2b2e34;text-transform: uppercase;letter-spacing: 0.1em;margin-bottom: 1em;font-weight: bold;}
    .djka-richtext blockquote{padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eee;background: #fafafa;}
    .djka-richtext blockquote *:last-child{margin-bottom: 0;}
    .djka-richtext blockquote *:first-child{margin-top: 0;}
    .djka-richtext img{max-width: 100%;height: auto;}


h1, .djka-title-1{font-size: 2.3rem;font-weight: bold;}
h2, .djka-title-2{font-size: 1.9rem;font-weight: bold;}
h3, .djka-title-3{font-size: 1.4rem;font-weight: bold;}
.djka-title-4{font-size: 1.4rem;font-weight: normal;line-height: 1.1em;}
.djka-title-5{color:#291672;font-size: 1.2rem;line-height: 1em;font-weight: normal;}

h6{font-size: 1.1rem;font-weight: bold;border-top: 2px solid #eee;border-bottom: 2px solid #eee;line-height: 1em;padding: 0.3em 0;color:#291672;}

.djka-section-title{color:#291672;text-align: center;font-size: 1.8rem;background: url(cssimg/scribble.png) no-repeat center center;background-size: contain;line-height: 1em;padding-top: 1em;padding-bottom: 1em;margin-bottom: 0;}
.djka-section-title-white{color:#291672;text-align: center;font-size: 1.8rem;background: url(cssimg/scribble2.png) no-repeat center center;background-size: contain;line-height: 1em;padding-top: 1em;padding-bottom: 1em;margin-bottom: 0;}

.curve{position: absolute;display: block;width: 100%; z-index: -1;left: 0;top: 0;height:100%;}
.curve-canvas{position: absolute;z-index: -1;left: 0;top: 0;width: 100%;height: 100%;}

.container-fluid.has-large-padding{padding-left: 40px;padding-right: 40px;}

/*COMMON STYLES*/
.djka-color-white{color: white;}
.djka-align-left{text-align: left;}
.djka-align-center{text-align: center;}
.djka-align-right{text-align: right;}
.djka-hspace-small{height: 1.2rem;}
.djka-hspace-medium{height: 2.5rem;}
.djka-hspace-big{height: 4rem;}
.djka-hspace-large{height: 5.5rem;}

/*INNER PAGE HEADER*/
.djka-page-header{display: block;height: 500px;background: #110057 no-repeat center center;background-size: cover;}

.djka-section-grey{background-color:#ebebec;}

/*PAGE SECTION*/
.djka-page{padding-top: 3rem;padding-bottom: 2rem; }
    .djka-page-section{margin-bottom: 3rem;}
    .djka-page-section:last-child{margin-bottom: 0;}


/*FUNKY*/
.djka-funky{display: flex;padding-bottom: 30px;}
    .djka-funky-menu{overflow: hidden;background: #110057;width: 44px;color: white;position: relative;transition: all .4s;flex-shrink: 0;}
    .djka-funky-menu.is-opened{width: 240px;}
        .djka-funky-toggle,.djka-funky-toggle:visited{position: absolute;top: 0;left: 0;font-size: 20px;font-weight: 900;width: 44px;height: 44px;text-align: center;line-height: 44px;color: white;transition: color .4s;}
        .djka-funky-toggle:hover{text-decoration: none;color:#FFC734;}
        .djka-funky-toggle:before{content: "\f0c9";font-family: "Font Awesome 5 Free";}
        .djka-funky-menu.is-opened .djka-funky-toggle:before{content: "\f00d";}
        .djka-funky-menu ul{list-style: none;margin: 0;padding: 0;margin-top: 80px;display: none;width: 240px;}
        .djka-funky-menu.is-opened ul{display: block;}
        .djka-funky-menu li{}
        .djka-funky-menu ul a{display: block;padding: 5px 25px;transition: all .4s;position: relative;}
        .djka-funky-menu ul a, .djka-funky-menu ul a:visited{color: white;}
        .djka-funky-menu ul a:hover{text-decoration: none;color:#FFC734;}
        .djka-funky-menu ul a.active{color:#FFC734;}
        .djka-funky-menu ul a.active:before,
        .djka-funky-menu ul a.active:after{content:'';display: block;position: absolute;background:#FFC734; width: 7px;top:0;bottom: 0;}
        .djka-funky-menu ul a.active:before{left: 0;border-radius: 0 10px 10px 0;}
        .djka-funky-menu ul a.active:after{right: 0;border-radius: 10px 0 0 10px;}
    .djka-funky-content{flex-grow: 1;flex-shrink: 1;margin-left: 15px;padding-left: 30px;padding-right: 30px; padding-top: 30px;padding-bottom: 30px; background: white;}

/*DATA BOX*/
.djka-databox{display: flex;}
    .djka-databox-menu{overflow: hidden;background: #110057;width: 44px;color: white;position: relative;transition: all .4s;flex-shrink: 0;}
    .djka-databox-menu.is-opened{width: 240px;}
        .djka-databox-toggle,.djka-databox-toggle:visited{position: absolute;top: 0;left: 0;font-size: 20px;font-weight: 900;width: 44px;height: 44px;text-align: center;line-height: 44px;color: white;transition: color .4s;}
        .djka-databox-toggle:hover{text-decoration: none;color:#FFC734;}
        .djka-databox-toggle:before{content: "\f0c9";font-family: "Font Awesome 5 Free";}
        .djka-databox-menu.is-opened .djka-databox-toggle:before{content: "\f00d";}
        .djka-databox-menu ul{list-style: none;margin: 0;padding: 0;margin-top: 80px;display: none;width: 240px;}
        .djka-databox-menu.is-opened ul{display: block;}
        .djka-databox-menu li{}
        .djka-databox-menu ul a{display: block;padding: 5px 25px;transition: all .4s;position: relative;}
        .djka-databox-menu ul a, .djka-databox-menu ul a:visited{color: white;}
        .djka-databox-menu ul a:hover{text-decoration: none;color:#FFC734;}
        .djka-databox-menu ul a.is-active{color:#FFC734;}
        .djka-databox-menu ul a.is-active:before,
        .djka-databox-menu ul a.is-active:after{content:'';display: block;position: absolute;background:#FFC734; width: 7px;top:0;bottom: 0;}
        .djka-databox-menu ul a.is-active:before{left: 0;border-radius: 0 10px 10px 0;}
        .djka-databox-menu ul a.is-active:after{right: 0;border-radius: 10px 0 0 10px;}
    .djka-databox-content{flex-grow: 1;flex-shrink: 1;margin-left: 15px;}

/*DATA TABLE*/
.djka-data-table{width: 100%;border-collapse: collapse;}
    .djka-data-table thead td{background: #110057;padding:10px 6px;text-align: center;font-size: 0.85rem;vertical-align: top;}
    .djka-data-table thead td:first-child{border-radius: 15px 0 0 0;}
    .djka-data-table thead td:last-child{border-radius: 0 15px 0 0;}
    .djka-data-table thead a,.djka-data-table thead a:visited{color:white;font-weight: bold;}
    .djka-data-table thead a i{color:#7878ff;}
    .djka-data-table td{background: #FFFDF0;padding:10px 3px;text-align: center;font-size: 0.8rem;}
    .djka-data-table tr:nth-child(even) td{background: #FFF5B1;}

/*CARD PHOTO CARD*/
.djka-photocards{display: flex;flex-wrap: wrap;margin-top: 20px;margin-bottom: 20px;}
    .djka-photocard{width: 20%;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}
        .djka-photocard-thumb{display: block;margin-bottom: 15px;}
        .djka-photocard-thumb img{display: block;}
        .djka-photocard-title{font-size: 1rem;font-weight: bold;display: block;}

/*CARDS TYPE 1*/
.djka-cards-1{display: flex;flex-wrap: wrap;justify-content: space-between;}
.djka-cards-1::after{content: "";width: 32%;}
    .djka-card-1{width: 32%;background: #FFFAD8;margin-bottom: 20px;}
        .djka-card-1-body{padding: 15px;}
        .djka-card-1-header{text-align:center;background: url(cssimg/card-1-header.png) no-repeat center bottom;color: white;padding-top: 10px;padding-bottom: 25px;font-style: 0.85rem;}
            .djka-card-1-header b{display: block;font-weight: bold;}
            .djka-card-1-header span{display: block;font-weight: bold;}
        .djka-card-1-body{font-size: 0.85rem;}
        .djka-card-1-body table{border-collapse: collapse;width: 100%;}
        .djka-card-1-body td{padding: 5px 0;}
        .djka-card-1-body td:nth-child(1){padding-right: 10px;}
        .djka-card-1-body td:nth-child(2){font-weight: bold;}

/*CARD TYPE 2*/
.djka-card2-wrapper{margin-left: 80px;margin-right: 80px;}
.djka-card2{position: relative;margin-left: 60px;margin-right: 60px;margin-bottom: 30px;}
.djka-card2:after{clear:both;display: table;content:'';}
    .djka-card2-pic{position: absolute;right: 0;top: 50%; transform: translateY(-50%); width: 300px;}
        .djka-card2-pic span{}
        .djka-card2-pic img{}
    .djka-card2-content{margin-right: 320px;padding-top: 30px;padding-bottom: 30px;text-align: right;position: relative;z-index: 2;}
    .djka-card2-content:before{content: '';background: #291672;width: 36px;position: absolute;display: block;z-index: -1;top: 0;bottom: 0;right: -90px;transform:skew(-20deg, 0);transition: all .3s ease-out;}
    .djka-card2.is-active .djka-card2-content:before{width: 130%;}
    .djka-card2-content:after{content: '';background:#FFC734;width: 14px;position: absolute;display: block;z-index: -1;top: 60px;bottom: 60px;right: -64px;transform:skew(-20deg, 0);}


    .djka-card2-name{font-size: 2.5rem;font-weight: normal;color:#291672;line-height: 1em;}
    .djka-card2.is-active .djka-card2-name{color:white;}
    .djka-card2-title{font-size: 1.2rem;font-weight: bold;color:#291672;margin-bottom: 20px;line-height: 1em;text-transform: uppercase;}
    .djka-card2.is-active .djka-card2-title{color: white;}
    .djka-card2.is-active .djka-card2-desc{color: white;}

/*SECTION SOCIAL*/
.djka-section-social{padding-top: 100px;padding-bottom: 100px;}

/*SOCIAL FEED*/
.djka-socialfeed{}
    .djka-socialfeed-title{font-weight: bold;padding-left: 10px;margin-bottom: 15px;}
        .djka-socialfeed-title i{margin-right: 10px}
    .djka-socialfeed-inner{}
    .djka-socialfeed-embed{height: 400px;background: #eee;overflow: auto;border: 1px solid #eee;}

/*FILTER BOX*/
.djka-filterbox{margin-bottom: 2rem;max-width: 640px;width: 100%;margin-left: auto;margin-right: auto;}

/*SEARCH FILTER*/
.djka-search-filter{max-width: 640px;margin-left: auto;margin-right: auto;width: 100%;position: relative;margin-bottom: 2rem;}
    .djka-search-filter-field{position: relative;}
    .djka-search-filter-field i{position: absolute;top: 12px;left: 15px;opacity: 0.6;}
    .djka-search-filter-field input{display: block;width: 100%;display: block;background: #EBEBEC;border: 0 none;border-radius: 30px;line-height: 1em;padding: 10px;padding-left: 60px}
    .djka-search-filter-select{position: relative;}
    .djka-search-filter-select select{width: 100%;display: block;background: #EBEBEC;border: 0 none;border-radius: 30px;line-height: 1em;padding: 10px;}

/*CHAT BOX / CHATTING*/
.djka-chat{position: fixed;right: 100px;bottom: 0;z-index: 30;}
    .djka-chat-window{display: none;width: 300px;max-width: 100%;}
    .djka-chat.is-opened .djka-chat-window{display: block;}
        .djka-chat-header{background: #FFC734 url(cssimg/bubble.png) no-repeat 20px top;height: 40px;border-radius: 10px 10px 0 0;position: relative;}
        .djka-chat-close{position: absolute;right: 10px;top:8px; font-size: 1.3rem;cursor: pointer;}
        .djka-chat-close:active{color: white;}
        .djka-chat-body{background: #FFF18A;padding: 10px;padding-right: 0;}
            .djka-chat-body-scroll{height: 300px;overflow: auto;padding-right: 10px;}
            .djka-chat-msg{background:#fff;border-radius: 0 15px 15px 15px;padding: 10px 15px;font-size: 1rem;line-height: 1.2em;color: black; margin-right: 30px;margin-bottom: 10px;}
            .djka-chat-msg.is-user{background:#ffc734;border-radius: 15px 0 15px 15px; color: black; margin-right: 0;margin-left: 30px;}
        .djka-chat-footer{background: #f1b61b;padding: 10px;}
            .djka-chat-form{position: relative;}
                .djka-chat-field{display: block;border: 0 none;width: 100%;padding: 5px;}
                .djka-chat-send{position: absolute;right: 0;top: 0;z-index: 2;color:#aaa;background: transparent;border: 0 none;width: 50px;height: 36px;cursor: pointer;}
                .djka-chat-send:active{color:black;}

    .djka-chat-toggle{background: #FFC734 url(cssimg/bubble.png) no-repeat 60px top;border-radius: 10px 10px 0 0;font-weight: bold;line-height: 1em;width: 110px;padding: 10px 15px;display: block;overflow: hidden;font-size: 0.85rem;box-shadow: 0 -2px 10px rgba(0,0,0,0.2)}
    .djka-chat-toggle:hover{text-decoration: none;}
    .djka-chat-toggle:active{color: white;}
    .djka-chat.is-opened .djka-chat-toggle{display: none;}

/*CONTACT MAP*/
.djka-contact-map{background: #dceff9;overflow: hidden;}

/*OWL CAROUSEL*/
.owl-dots{display: none;}
.owl-stage-outer{overflow: hidden;}
.owl-stage{display: flex;}
.owl-nav{position: absolute;top:0;left: 0;right: 0;top:50%;}
.owl-prev,.owl-next{position: absolute;font-size: 4rem;border: 0 none;background: transparent;cursor: pointer;display: block;line-height: 1em; padding: 1rem;transform: translateY(-50%);color: #888;}
.owl-prev{left:-20px;}
.owl-next{right:-20px;}
.owl-prev:hover,.owl-next:hover{color:#FFC734;}
.owl-prev.disabled,.owl-next.disabled{opacity: 0.1;cursor: default;color: inherit;}

.owl-prev span,.owl-next span{transition: all .3s;line-height: 1em;}

/*HEADER*/
.djka-header-filler{display: none;}
.djka-header{position: fixed;left: 0;right: 0;top: 0;background: rgba(255,255,255,0.8);z-index: 10;display: flex;justify-content: space-between;box-shadow: 1px 5px 5px rgba(0,0,0,0.05)}
    .djka-logo-area{background: #110057;order: 2;padding:15px 30px;}
    .djka-menu-area{flex-grow: 1;padding-right: 30px;padding-top: 20px;padding-bottom: 10px; position: relative;}
    .djka-menutoggle{display: none;position: absolute;right: 30px;top:20px;font-size: 24px;}
        .djka-menutoggle a,.djka-menutoggle a:visited{color:#666;transition: color .2s;}
        .djka-menutoggle a:hover, .djka-menutoggle a:active{color:#291672;text-decoration: none;}

/*LOGO*/
.djka-logo{display: block;max-width: 290px;}

/*MAIN MENU*/
.djka-menu{list-style:none;padding: 0;margin: 0;font-weight: 700;font-size: 0.80rem;}
    .djka-menu li{float: left;position: relative;}
    .djka-menu a{display: block;padding: 10px 10px; line-height: 1em;text-transform: uppercase;}
    .djka-menu a,.djka-menu a:visited{color:#2B2E34;}
    .djka-menu a:hover{text-decoration: none;color: #2200ab;}
    .djka-menu a.is-active{color: #2200ab;}
    .djka-menu a i{margin-left: 5px;}

    .djka-menu ul{display: none;}
    .djka-menu .show-sub ul{display: block;}
    .djka-menu ul{list-style: none;margin: 0;padding: 0;position: absolute;background: white;left:-10px;width: 180px;}
    .djka-menu li li{float: none;border-bottom: 1px solid #ddd;}
    .djka-menu ul a{padding: 10px; padding-left: 20px;transition:background .4s;}
    .djka-menu ul a:hover{background: #ddd;}

/*SEARCHBOX*/
.djka-searchbox{position: absolute;right: 20px;top: 26px;}
    .djka-searchbox-toggle{position: absolute;right: 0;top:0;}
    .djka-searchbox-form{height: 0;overflow: hidden;position: absolute;z-index: 2;right: -10px;top: -8px;opacity: 0;transition: opacity .4s;}
    .djka-searchbox-field{padding: 8px 12px;line-height: 1em;border-radius: 20px;border: 1px solid #999;width: 150px;transition: width .4s;}
    .djka-searchbox-button{position: absolute;right: 0;top:0;border: 0 none;background: transparent;cursor: pointer;padding: 7px 13px;}
    .djka-searchbox.show-form .djka-searchbox-form{height: auto;opacity: 1;}
    .djka-searchbox.show-form .djka-searchbox-field{width: 250px;}

/*HERO SECTION*/
.djka-hero{height: 600px;position: relative;background: black;}

/*HOME SLIDE*/
.djka-home-slides{position: absolute;left:0;top:0;right: 0;bottom: 0;overflow: hidden;}
    .djka-home-slide{position: absolute;-webkit-backface-visibility: hidden;width: 100%;height: 100%;background: black;}
    .djka-home-slide-img{background: no-repeat center center;background-size: cover;width: 100%;height: 100%;   opacity: 0.6;}
    .djka-home-slide-title{width: 600px;position: absolute;bottom: 200px;left: 50px;color: white;font-size: 2.2rem;line-height: 1em;font-weight: bold;transition: all 2s;}
    .homeslides1_on .djka-home-slide-title{left: 100px;}


.djka-section-inner{padding-top: 40px;padding-bottom: 40px;position: relative;}
.djka-section-welcome{padding-top: 150px;margin-top: -150px; margin-bottom: -80px; padding-bottom: 80px;z-index: 2;position: relative;}
.djka-section-welcome h2{margin-top:2rem;}
.djka-section-welcome h3{margin-bottom: 1rem;}

.djka-section-highlights{background: white;padding-top: 100px;padding-bottom: 150px;position: relative;}
.djka-section-berita{margin-top: -80px; padding-top: 80px;padding-bottom: 80px;margin-bottom: -80px; z-index: 2;}
.djka-section-kerjasama{padding-top: 60px;margin-top: -60px;padding-bottom:60px;}
.djka-section-pengumuman{padding-top: 60px;padding-bottom: 80px;margin-bottom: -80px;}
    .djka-section-pengumuman .container:after{clear:both;display: table;content:'';}


/*PARTNERS / KERJASAMA*/
.djka-partner-carousel{display: flex;flex-wrap: wrap;position: relative;}
    .djka-partner-carousel.owl-loaded{display: block;}
.djka-partner-logo{max-width: 220px;margin-left: auto;margin-right: auto;margin-bottom: 20px;padding-left: 20px;padding-right: 20px;}

/*INNER-PAGE BANNER*/
.djka-page-banner{height: 400px;background: #110835;position: relative;}
    .djka-page-banner-image{background: no-repeat center center;background-size: cover;position: absolute;top:0;bottom: 0;left: 0;right: 0;opacity: 0.6;}


/*TITLE BOX*/
.djka-title-box{padding-top: 50px;margin-top: -54px; padding-bottom: 60px;margin-bottom: -64px; z-index: 2;text-transform: uppercase;}
    .djka-title-box .container{padding-top: 3rem;padding-bottom: 3rem;}
    .djka-title-box h1{text-align: center;font-size: 2rem;color: #291672;line-height: 1.1em;margin-bottom: 0;}
.djka-title-box + div, .djka-title-box + section{padding-top: 100px;}

/*PENGUMUMAN*/
.djka-pengumuman{position: relative;width: 49%;float: left;background: white;height: 119px;transition: all .4s;margin-left: 0.5%;margin-right: 0.5%;margin-bottom: 20px;display: flex;}
    .djka-pengumuman-pic{width: 160px;flex-grow: 0;flex-shrink: 0;}
        .djka-pengumuman-pic img{max-width: 100%;}
    .djka-pengumuman-content{text-align: right;padding: 10px;padding-right: 20px;}
        .djka-pengumuman-title{font-size: 1.2rem;color:#110057;text-overflow: ellipsis;overflow: hidden;height: 2.2em;line-height: 1.1em;
    display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;margin-top: 10px;}
        .djka-pengumuman-date{color: #FFC734;font-size: 0.9rem;font-style: italic;font-weight: bold;}
        .djka-pengumuman:hover{text-decoration: none;background: rgba(255,255,255,0.8)}
.djka-pengumuman-carousel .owl-prev{left: 30px;}
.djka-pengumuman-carousel .owl-next{right: 30px;}

/*BERITA LIST*/
.djka-berita2-list{display: flex;flex-wrap: wrap;padding-left: 30px;}
    .djka-berita2-item{width: 20%;padding-left: 10px;padding-right: 10px;margin-bottom: 30px;}
    .djka-berita2-item a{display: block;padding: 10px;transition: all .2s;}
    .djka-berita2-item a,.djka-berita2-item a:visited{color:inherit;}
    .djka-berita2-item a:hover{text-decoration: none;background: white;border-radius: 4px;}
    .djka-berita2-item-thumb{background: #e0e0e0;margin-bottom: 10px;}
        .djka-berita2-item-thumb img{display: block;width: 100%;}
    .djka-berita2-item-title{font-size: 1rem;font-weight: bold;overflow: hidden;text-overflow: ellipsis;height: 2.5em;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
    .djka-berita2-item-date{color: #FFC734;font-size: 0.9rem;font-style: italic;}
    .djka-berita2-item-lead{color:inherit;}
.djka-berita2-list-footer{margin-top: 30px;margin-bottom: 30px;}


/*NEWS*/
.djka-news-list{}
    .djka-news-item{background: white;padding: 20px;border:1px solid #ddd;margin-top: 15px;display: flex;box-shadow:0 1px 2px rgba(0,0,0,.075);transition: all .4s;color: inherit;}
    .djka-news-item:first-child{margin-top: 0;}
        .djka-news-item-title{margin-bottom: 0;width: 30%;font-size: 1rem;font-weight: bold;padding-right: 15px;color: inherit;}
        .djka-news-item-date{width: 15%;color: #FFC734;padding-right: 15px;font-size: 0.9rem;font-style: italic;}
        .djka-news-item-lead{width: 55%;color: inherit;}
    .djka-news-item:hover{text-decoration: none;border-color: #337ab7;}
.djka-news-list-footer{margin-top: 30px;margin-bottom: 20px;}

/*NEWS DETAIL*/
.djka-news-detail{margin-bottom: 30px;}
    .djka-news-detail-header{position: relative;padding-right: 200px;margin-bottom: 40px;}
        .djka-news-detail-other{position: absolute;right: 0;top: 0;}
        .djka-news-detail-title{font-size: 2.3rem;color: inherit;}
        .djka-news-detail-date{display: block;color: #FFC734;font-style: italic;font-weight: bold;margin-bottom: 20px;}
    .djka-news-detail-body{border-radius: 4px;background: white;padding: 40px 50px;box-shadow:0 1px 2px rgba(0,0,0,.075);}
.djka-news-detail-other,.djka-news-detail-other:visited{color:white;}
.djka-news-detail-other{background: #ffc734;font-weight:bold;text-align: center;line-height: 1em;text-transform: uppercase;display: block;position: absolute;right: 0;top:50px;padding: 10px;width: 150px;font-size: 0.8rem;}

/*HIGHLIGHT ITEM*/
.djka-highlight{text-align: center;}
    .djka-highlight-img{background: #000;}
        .djka-highlight-img img{display: block; max-width: 100%; transition: all .4s; opacity: 1;}
    .djka-highlight-title{font-size: 1.5rem;line-height: 1em;color: #291672;margin-top: 1rem;}
        .djka-highlight-title span{border-bottom: 6px solid #ffffff; transition: all .4s; }
    .djka-highlight-desc{margin-top: 1em;text-align: center;color:#2B2E34}
.djka-highlight:hover{text-decoration: none;}
    .djka-highlight:hover .djka-highlight-title span{border-bottom-color:#FFC734}
    .djka-highlight:hover .djka-highlight-img img{opacity: 0.5;}


/*BERITA TERKINI*/
.djka-berita-carousel{display: flex;flex-wrap: wrap;}
    .djka-berita-carousel.owl-loaded{display: block;}
.djka-berita-item{background: white;padding: 7px;transition: background .4s;position: relative;width: 25%;display: block;}
    .owl-item .djka-berita-item{width: auto;}
    .djka-berita-item-pic{transition: all .4s;position: relative;background: white;}
        .djka-berita-item-pic img{display: block;width: 100%;}
        .djka-berita-item-pic span{display: block;text-align: center;font-size: 1.2rem;font-weight: bold;color:#291672;position: absolute;left: 0;right: 0;top: 50%;line-height: 1em;transform: translateY(-50%);display: none;}
    .djka-berita-item-text{padding: 0 10px 30px;}
    .djka-berita-item-title{font-size: 1.2rem;line-height: 1em;margin-top: 1rem;position: relative;z-index: 2;overflow: hidden;text-overflow: ellipsis;height: 2.0em;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
    .djka-berita-item-desc{height: 3.2em;line-height: 1em; overflow: hidden;text-overflow: ellipsis;height: 2.0em;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
    .djka-berita-item-date{margin-top: 1rem;font-size: 0.9rem;font-weight: bold;font-style: italic;color:#FFC734;}
    .djka-berita-carousel .owl-prev{left: 20px;}
    .djka-berita-carousel .owl-next{right: 20px}
.djka-berita-item:hover{background: #291672;}
    .djka-berita-item:hover .djka-berita-item-desc{opacity:0;}
    .djka-berita-item:hover .djka-berita-item-date{opacity:0;}
    .djka-berita-item:hover .djka-berita-item-title{opacity:0;}
    .djka-berita-item:hover .djka-berita-item-pic{transform: translateY(80px);}
    .djka-berita-item:hover .djka-berita-item-pic img{opacity: 0.5;}
    .djka-berita-item:hover .djka-berita-item-pic span{display: block;}

/*FLOATING MENU*/
.djka-floating-menu{position: fixed;top:0;bottom: 0;left: -260px;width: 260px;z-index: 20;background: white;transition: all .5s ease-out;}
.djka-floating-menu.is-opened{left: 0;}
    .djka-floating-menu-toggle{width: 34px;right: -34px;top:200px;bottom: 200px; position: absolute;}
    .djka-floating-menu.is-opened .djka-floating-menu-toggle{background: #f8f8f8;top:0;bottom: 0;}
        .djka-floating-menu-toggle span{display: block;cursor: pointer;position: absolute;left: 50%;top:50%;text-align: center;transform: translate(-50%,-50%) rotate(-90deg);background: white;height: 34px;line-height: 34px;width: 120px;border-radius: 0 0 15px  15px;box-shadow: 0px 1px 4px rgba(0,0,0,0.1);}
        .djka-floating-menu.is-opened .djka-floating-menu-toggle span{background: transparent;box-shadow: none;}
        .djka-floating-menu-toggle i{font-style: normal; font-size: 50px; cursor: pointer; text-align: center;position: absolute;top:0px; line-height: 1em;left: 50%;transform: translateX(-50%);display: none;}
        .djka-floating-menu.is-opened .djka-floating-menu-toggle i{display: block;}
    .djka-floating-menu-list{text-align: center;}
        .djka-floating-menu-list ul{list-style: none;padding: 0;margin: 0;margin-top: 100px;}
        .djka-floating-menu-list a{display: block;line-height: 1em;padding: 12px 5px;transition: all .4s;}
        .djka-floating-menu-list a,.djka-floating-menu-list a:visited{color: inherit;}
        .djka-floating-menu-list a:hover{text-decoration: none;color:#FFC734;}
        .djka-floating-menu-list a.is-active{font-weight: bold;}

/*SECTION STRUKTUR ORGANISASI*/
.djka-section-strukturogranisasi{padding-top: 100px;padding-bottom: 100px;}

/*PEGAWAI LIST*/
.djka-pegawai-list{display: flex;flex-wrap: wrap;margin-bottom: 40px;}
.djka-pegawai-item{width: 20%;position: relative;padding-left: 10px;padding-right: 10px;min-height: 32px;margin-bottom: 8px;}
    .djka-pegawai-item-thumb{width: 32px;height: 32px;position: absolute;left: 10px;top: 0;border-radius: 50%;overflow: hidden;}
        .djka-pegawai-item-thumb img{display: block;max-width: 100%;}
    .djka-pegawai-item-name{margin-left: 40px;padding-top: 3px;}



/*SECTION TUGAS POKOK*/
.djka-section-tugaspokok{background:#FFC734; }
    .djka-section-tugaspokok .container{padding-bottom: 60px;padding-top: 40px;}
    .djka-section-tugaspokok p{font-style: italic;font-size: 1.4rem;text-align: center;color:#321A90;}

/*SECTION KEPEGAWAIAN*/
.djka-section-kepegawaian{padding-top: 60px;padding-bottom: 60px;}



/*CHART*/
.djka-chart{max-width: 600px;width: 100%;margin-left: auto;margin-right: auto;margin-top: 2rem;margin-bottom: 2rem;}

/*SECTION VISION MISSION*/
.djka-section-visionmission{padding-top: 80px;padding-bottom: 80px;z-index: 2;margin-top: -88px;margin-bottom: -88px;}

/*VISION*/
.djka-vision{color:#FFC734;text-align:right;padding-top: 80px;padding-bottom: 80px;padding-right: 30px;}
    .djka-vision h2{color: inherit;}
    .djka-vision p{font-size: 1.2rem;}

/*MISSION*/
.djka-mission{color: white;padding-top: 80px;padding-bottom: 80px;padding-left: 30px;}
    .djka-mission h2{color: inherit;}
    .djka-mission ol{padding-left: 1em;}

/*FOOTER*/
.djka-footer{background:#110057;padding-top: 30px;padding-bottom: 30px;position: relative;}

.djka-footerline{border-top: 10px solid #FFC734;}

/*FOOTER LOGO*/
.djka-footer-logo{max-width: 200px;margin-left: auto;margin-right: auto;}

/*FOOTER SOCIAL ICONS*/
.djka-footer-social-icons{font-size: 1.4rem;text-align: center;}
    .djka-footer-social-icons ul{margin: 0;padding: 0;list-style: none;}
    .djka-footer-social-icons li{display: inline-block;margin-left: 5px;margin-right: 5px;}
    .djka-footer-social-icons a, .djka-footer-social-icons a:visited{color: white;transition: all .4s;}
    .djka-footer-social-icons a:hover{color:#FFC734;}



/*MEDIA QUERY RESPONSIVE RULES*/

@media screen and (max-width:1500px) {
    .djka-page-header{height: 400px; }
    .djka-header-filler{height: 80px;display: block;}
    .djka-header{display: block;background: white;}
    .djka-menu-scroll{height: 75vh;overflow: auto;margin-bottom: 20px;}
    .djka-logo-area{width: 380px;}
    .djka-menu-area{display: none;padding-left: 60px;padding-right: 60px;padding-top: 30px;}
    .djka-menu-area.is-opened{display: block;}
    .djka-menutoggle{display: block;}
    .djka-menu ul{position: relative;left: 0;width: auto;display: block;}
    .djka-menu li{float: none;}
    .djka-menu li li{border-bottom: 0 none;}
    .djka-menu ul a{padding-left: 40px;}

    .djka-searchbox{position: relative;right: auto;top: auto;margin-bottom: 20px;}
    .djka-searchbox-form{right: auto;opacity: 1;top: auto;position: relative;height: auto;}
    .djka-searchbox-field{width: 100%;}
    .djka-searchbox.show-form .djka-searchbox-field{width:100%;}
    .djka-searchbox-toggle{display: none;}
}
@media screen and (max-width:1366px) {
    
}
@media screen and (max-width:1024px) {
    .djka-highlight-title{font-size: 1.2rem;}
    .djka-card2-name{font-size: 2.1rem;}
    .djka-berita2-item{width: 33%;}    
    .djka-pegawai-item{width: 25%;}
}
@media screen and (max-width:990px) {
    .djka-card2-wrapper{margin-left: 40px;margin-right: 40px;}
    .djka-card2-content{margin: 0;padding-right: 140px;}
    .djka-card2-pic{z-index: 3;right: -100px;width: 240px;}
}
@media screen and (max-width:900px) {
    .djka-pengumuman{height: auto;}
    .djka-pengumuman-pic{width: 100px;background: #301d6e;}
    .djka-pengumuman-title{margin-top: 0;font-size: 1rem;margin-bottom: 0;}

     .djka-photocard{width: 25%;}
     .djka-pegawai-item{width: 33%;}
}
@media screen and (max-width:800px) {
    .djka-section-welcome{margin-top: -80px;padding-top: 80px;padding-bottom: 40px;}
    .djka-section-berita{padding-top: 80px;padding-bottom: 80px;}
    .djka-footer-social-icons{font-size: 2rem;}
    .djka-card2{padding: 20px;margin-left: 0;margin-right: 0;}
    .djka-card2.is-active{background:#291672}
    .djka-card2-pic{position: relative;right:auto;top:auto;transform: none;text-align: center;width: auto;}
    .djka-card2-content{padding-right: 0;text-align: center;}
    .djka-card2-content:before{display: none;}
    .djka-card2-content:after{display: none;}
    .djka-menu-area{padding-left: 30px;padding-right: 30px;}
    
    .djka-news-item{display: block;}
        .djka-news-item-title{width: auto;}
        .djka-news-item-date{width: auto;}
        .djka-news-item-lead{width: auto;}

    .djka-news-detail-header{padding-right: 0;}
    .djka-news-detail-other{position: relative;margin-bottom: 20px;top: 0;}
   
    
}

@media screen and (max-width:767px) {
    .djka-pengumuman{width:auto; float: none;}
    .djka-highlight{display:block; padding-bottom: 40px;}
    .djka-highlight-img img{width: 100%;}
    .djka-section-berita{padding-top: 40px;padding-bottom: 40px;}
    .djka-partner-logo{margin-bottom: 30px;}
    .djka-footer-logo{margin-bottom: 30px;}
    .djka-databox{display: block;}
    .djka-databox-menu{display: none;}
    .djka-databox-content{margin-left: 0;}
    .djka-card-1{width: 49%;}

    .djka-photocard{width: 33%;}

    .djka-berita2-item{width: 50%;}

}
@media screen and (max-width:720px) {
    .djka-page-header{height: 300px; }
    .djka-home-slide-title{font-size: 1.8rem;}
    .djka-home-slide-title{text-align: center;left: auto;width: 100%;bottom: 150px;}
    .homeslides1_on .djka-home-slide-title{left: auto;bottom: 200px;}


}
@media screen and (max-width:640px) {
    .djka-section-welcome{margin-top: -30px;padding-top: 30px;padding-bottom: 10px;}
    .djka-title-box{padding-bottom: 30px;margin-bottom: -30px;}
    .djka-title-box h1{margin-top: 0;margin-bottom: 0;}
    .djka-title-box + div, .djka-title-box + section{padding-top: 60px;}

    .djka-funky{display: block;}
        .djka-funky-menu{margin-bottom: 20px;}
        .djka-funky-menu,.djka-funky-menu.is-opened{width: auto;}
        .djka-funky-menu ul{display: block;width: auto;margin-top: 10px;margin-bottom: 10px;}
        .djka-funky-content{margin-left: 0;}
        .djka-funky-toggle{display: none;}
    
    .djka-photocard{width: 50%;}

    
    .djka-berita2-list{display: block;}
    .djka-berita2-item{width: auto;}

    .djka-pegawai-item{width: 50%;}


}
@media screen and (max-width:520px) {
    .djka-card-1{width: 100%;}
    
}
@media screen and (max-width:460px) {
    .djka-chat{right: 30px;}
    .djka-floating-menu-toggle{top: 0;}
    .djka-title-box{padding-bottom: 40px;margin-bottom: -40px;}
    .djka-logo-area{width: auto;}
    .djka-menutoggle a,.djka-menutoggle a:visited{color:#ccc;}

    .djka-photocards{display: block;}
    .djka-photocard{width: auto;}

    .djka-pegawai-item{width: 100%;}
}
@media screen and (max-width:400px) {
    
}