body{
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
	background:#fff;
	font-size: 13px;
}
a{
	text-decoration: none !important;
}
.nopadding{
	padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.header-top{
	padding: 20px 0 40px 0;
	position:relative;
	z-index: 3;
}
.header-top input[type="text"], .msearch input[type="text"]{
	width:100%;
	padding:10px 5px;
}
.header-top input[type="submit"], .msearch input[type="submit"]{
	top:3px;
	right:20px;
	border:none;
	position: absolute;
	background:url(../img/ic_search.png) no-repeat;
	width:26px;
	height:26px;
}
#header{
	z-index: 3;
	position:relative;
}
#header .secondary-mn{
	padding-top: 25px;
}
.secondary-mn  a:hover, .secondary-mn .active{
	color: #ffc412;
}
#header .secondary-mn li{
	display: inline-block;
	margin:8px 10px 0 0;
}
#header .secondary-mn input[type="text"]{
	position: relative;
	top: -5px;
}
#header .col-md-10{
	position: relative;
}
#mainmenu{
	position: absolute;
	bottom: -45px;
	background:#301d6e;
	border-radius:0;
	border:0;
	font-size: 15px;
	z-index: 5;
}
#mainmenu .container{
	width:100%;
}
#mainmenu a{
	color: #fff;
	padding: 15px 25px;
}

#mainmenu li:hover a, #mainmenu .active a, #mainmenu a[aria-expanded="true"]{
	background:#ffc412;
}
#mainmenu li li:hover a, #mainmenu li .active a{
	background:#301d6e;
}
.msearch{
	display:none;
}
.dropdown-menu{
	background: rgba(255, 196, 18, 1);
	border-radius: 0;
	padding:0;
	border: 0;
}
#mainmenu .dropdown-menu a{
	padding:10px 25px;
}
#mainmenu .dropdown-menu a:hover{
	background:#301d6e;
}

.slide-home{
	width:100%;
}
.slide-home > div{
	background:#000;
}
.slide-home div{
	position: relative;
	width:100vw;
}
.slide-home div img{
	z-index:0;
	position: relative;
	opacity:0.6;
	width: 100%;
}
.slide-home div .caption{
	opacity: 0;
	position: absolute;
	top:45%;
	width:1100px;
	margin:0 auto;
	left:0;
	right:0;
	z-index:1;
	-webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    color:#fff;
}
.slide-home div .caption h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
}
.slide-home div .caption p{
	background:rgba(48, 29, 110, .6);
	width:50%;
	padding: 10px;
	border-left:5px solid #ffc412;
	font-weight: 300;
	font-size: 16px;
}
.slide-home .slick-active .caption{
	opacity: 1;
	top:30%;
}
.slick-arrow{
	display: none !important;
}
.slick-dots{
	position:absolute;
	bottom: 80px;
	width: 100%;
	z-index: 2;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
	margin:0 8px;
	width:15px;
	height:15px;
	border-radius: 15px;
	background:#fff;
	cursor: pointer;
}
.slick-dots li.slick-active{
	background:#ffc412;
}
.slick-dots li button{
	display: none;
}
.compro{
	padding: 30px;
	position: relative;
	top:-45px;
	background:#fff;
	-webkit-box-shadow: 0px 0px 45px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 45px -16px rgba(0,0,0,0.75);
box-shadow: 0px 0px 45px -16px rgba(0,0,0,0.75);
}
.compro:after{
	content: "";
	bottom:-30px;
	left:0;
	width:100%;
	height:50px;
	background:#fff;
	position: absolute;
}
.compro h1{
	text-transform: uppercase;
	color:#301d6e;
	font-weight: 700;
	font-size: 30px;
	margin-top: 0;
}

.compro small{
	display: block;
	font-weight: 300;
	color:#ffc412;
}

.compro p{
	font-size: 18px;
	font-weight: 300;
}
ol{
	font-size: 16px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	line-height: 40px;
	padding-left: 34px;
	margin-bottom: 20px;
}
ol li{
	position: relative;
	z-index: 2;
	padding-left: 20px;
	margin-bottom: 10px;
}
ol li span{
	color:#333;
	line-height: 20px;
	display: block;
	font-weight: normal;
	text-transform: initial;
}
.compro ol li span{
	font-weight: 700;
	color:#301d6e;
	text-transform: uppercase;
}
ol li:before{
	content:"";
	z-index: -1;
	width:40px;
	height:38px;
	background: #ffc412;
	position: absolute;
	left: -32px;
	top: 0;
}
ol li:after{
	content:"";
	z-index: 1;
	width:5px;
	height:5px;
	background: #ffc412;
	position: absolute;
	left: -8px;
    top: 21px;

}
.service{
	padding:0 20px;
}
.service .item{
	overflow:hidden;
	padding:0;
	border:15px solid #fff;
}
.service .item img{
	position: relative;
	-webkit-transition: 1s;
    transition: 1s;
    z-index: -1;
    width:100%;
}
.service .item:hover img{
    z-index: -1;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.service .caption{
	position: absolute;
	top:0px;
	bottom:0px;
	left:0;
	right:0;
	margin:10px;
	background:rgba(48, 29, 110, .6);
	color: #fff;
	padding:50px 20px;
}
.service .caption h1{
	margin:0;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
}
.service .caption h1:after{
	content: "";
	width:60px;
	height: 5px;
	display: block;
	background: #ffc412;
	margin: 10px 0;
}
.service .caption h1 small{
	display: block;
	color: #fff;
	font-weight: 300;
}
.service .caption p{
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
}
.service .caption a{
	font-size: 13px;
	font-weight: 300;
	margin: 20px 0;
	color: #fff;
	padding:10px 15px;
	border:1px solid #fff;
	width:150px;
	margin:0px auto;
	margin-top:100px;
	display: block;
	text-align: center;
	-webkit-transition: .2s;
    transition: .2s;
}
.service .caption a:hover{
	background:#fff;
	color: #301d6e;
}

.news{
	background:#f9f9f9;
	margin-top:20px;
	padding:20px 0 50px 0;
}
.content-title{
	font-size: 24px;
	color: #301d6e;
	font-weight: 700;
}
.content-title:after{
	content: "";
	width:60px;
	height: 5px;
	display: block;
	background: #ffc412;
	margin: 10px 0 20px 0;
}
.news .item{
	padding:0 20px;
}
.news .item .row{
	margin-bottom:10px;
}
.news small{
	color: #ffc412;
	font-weight: 300;
}
.news p{
	margin-top: 20px;
}
.other{
	font-size: 13px;
	font-weight: 300;
	margin: 10px 10px 20px 10px;
	color: #fff;
	padding:9px 15px;
	background: #ffc412;
	width:150px;
	float: right;
	border:1px solid #ffc412;
	display: block;
	text-align: center;
	-webkit-transition: .2s;
    transition: .2s;
    text-transform: uppercase;
}
.other:hover{
	background:#fff;
	color: #ffc412;
}

.banner{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.banner h1{
	position: absolute;
	width:1120px;
	max-width:90%;
	left:0;
	right:0;
	top:45%;
	margin: 0 auto;
	color: #fff;
	text-transform: uppercase;
}
.banner h1 span{
	background:rgba(48, 29, 110, .6);
	padding: 10px 20px;
	border-left:5px solid #ffc412;
	font-weight: 700;
	font-size: 40px;
}
.banner img{
	width: 100%;
}
.thumbnail{
	border-radius: 0;
}
.thumbnail:hover{
	background: #f8f8f8;
}
.thumbnail .img-box{
	height:200px;
	width:100%;
	overflow: hidden;
}
.thumbnail>img{
	height: 100%;
	max-width: initial;
}
.thumbnail .caption{
	height: 117px;
	width: 100%;
	overflow: hidden;
}
.thumbnail h3{
	margin:0;
	color: #301d6e;
	font-size: 16px;
}
.thumbnail p{
	margin-bottom:0;
}
.date{
	color: #ffc412;
}
.thumbnail a{
	width: 100%;
	border-radius: 0;
	background: #ffc412;
	border:0;
	color: #fff;
	margin-top:10px;
	font-size: 12px;
	border:1px solid #ffc412;
	display: block;
	text-align: center;
	-webkit-transition: .2s;
    transition: .2s;
    text-transform: uppercase;
}
.thumbnail a:hover{
	background:#fff;
	color: #ffc412;
}
.pagination li a{
	border-radius: 0 !important;
	margin:2px;
}
.pagination li.active a{
	background: #ffc412;
	border-color: #ffc412;
}
.news-title{
	margin-bottom:5px;
	color:#6d6d6d;
	font-size: 20px;
}

.content-area{
	line-height: 20px;
}
.content-area h4{
	font-size: 20px;
	color: #301d6e;
	font-weight: 700;
}
.content-area p{
	font-size: 16px;
}
.employee h3{
	color: #ffc412;
}
.employee td{
	color: #8a8a8a;
}

.footer{
	border-top: 5px solid #f7be11;
	background: #301d6e;
	padding:20px 0;
	color: #fff;
}
.footer p{
	margin-top: 10px;
}
.hidden-lg{
	display: none;
}

@media (max-width: 1030px) {
	.slide-home div .caption, .banner h1{
		max-width: 80%;
	}
	.slide-home .slick-active .caption{
		top:25%;
	}
	#mainmenu{
		width:100%;
	}
	#mainmenu a {
	    padding: 15px 16px;
	    font-size: 12px;
	}
	.slide-home div .caption h1{
		font-size:30px;
	}
	.compro{
		padding-bottom:0;
	}
	.compro .col-md-7{
		width: 100%;
	}
	.compro .col-md-5{
		display: none;
	}
}

@media (max-width: 900px) {
	#mainmenu a {
	    padding: 15px 13px;
	    font-size: 12px;
	}
	.content{
		margin:0px;
	}
}
@media (max-width: 800px) {
	.row{
		margin: -5px;
	}
	#header{
		margin:0 !important;
	}
	#header img{
		width:400px;
	}
	.secondary-mn{
		display:none;
	}
	.msearch{
		display: block;
	}
	.slide-home .slick-active .caption{
		top:28%;
	}
	.navbar-toggle{
		border:0;
		margin: 0;
		padding:15px;
		background:transparent !important;
	}
	.navbar-toggle .icon-bar{
		background: #fff !important;
	}
	#mainmenu{
		padding:0;
		width: auto;
	    bottom:auto;
	    top:105px;
	    left:30px;
	    right:30px;
	    background:transparent;
	}
	.compro{
		top:0;
	}
	.navbar-header, .navbar-collapse{
		margin:0;
		background:#301d6e;
	}
	.navbar-nav{
		margin: 0;
	}
	.service .item{
		width:50%;
		display:inline-block;
		margin-right:-2px;
		border-width:5px;
	}
	.service .item:last-child{
		width:100%;
		margin-right:-2px;
		border-top-width:0;
	}
	.service .caption{
		position:relative;
		margin: 0;
	}
	.service .caption a{
		margin: 0;
	}
	.service .item img{
		display: none;
	}
	.content{
		margin:10px;
	}
	.slide-home div .caption, .banner h1{
		max-width:100%;
		margin:0 20px;
	}
	.banner h1 span{
		font-size: 28px;
	}
	.hidden-lg{
		display: block;
	}
	.service .caption h1{
		font-size: 28px;
	}
	.slide-home div{
		height: 300px;
		overflow: hidden;
	}
	.slide-home div img{
		height: 100%;
		width: auto;
		opacity: .6;
	}
	.msearch{
		position: absolute;
		top: 0;
		left: 0;
		right: 40px;
	}
	.msearch input[type="text"]{
		background: transparent;
		border: 0;
		border-right: 1px solid #402a86;
		padding:12px 0 10px 0;
		color:#fff;
	}
	.msearch input[type="text"]:focus{
		outline: none;
	}
	.msearch input[type="submit"]{
		top: 10px;
		right: 10px;
	}
	.slick-dots{
		bottom: 20px;
		padding: 0;
	}
	.slide-home div .caption p{
		display: none;
	}
	.banner{
		height:300px;
	}
	.banner img{
		height:100%;
		width: auto;
	}
}

@media (max-width: 400px) {
	#header img{
		max-width:270px;
	}
	#mainmenu{
		top:82px;
	}
	.slide-home div .caption h1{
		font-size: 20px;
	}
	.service .caption{
		padding: 20px;
	}
	.service .caption a{
		margin-top:20px;
	}
	.news .col-md-6{
		padding: 6px;
	}
	.service .item{
		width:100%;
	}
	.banner h1 span {
	    font-size: 20px;
	}
	.footer img{
		float: left;
	}
}
