body{
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
	background:#fff;
	font-size: 13px;
}
a{
	text-decoration: none !important;
}
.nopadding{
	padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.page-loaded #loading-area{
	display:none;
}
#loading-area{
	position: fixed;
	top:0;
	right:0;bottom:0;
	left:0;
	background: #fff;
	z-index:12;
}
.loading-bar{
    position: absolute;
    top: 50%;
    left:0;
	right:0;
	margin:0 auto;
	text-align: center;
}
.loading-bar .bar{
    position: absolute;
    width: 84px;
	height: 84px;
	bottom:60px;
    left:0;
	right:0;
	margin:0 auto;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
.loading-bar span{
    position: absolute;
    bottom: 80px;
    left:0;
	right:0;
	margin:0 auto;
	text-align: center;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.search input[type="text"]{
	width:100%;
	padding:10px 5px;
	display:none;
}
.search button, #search-modal .modal-content input[type="submit"]{
	top:22px;
	right:20px;
	border:none;
	position: absolute;
	background:url(../img/ic_search.png);
	width:26px;
	height:26px;
}
#search-modal .modal-dialog{
	width:80%;
}
#search-modal .modal-content{
	margin-top:30%;
	background: rgba(247,190,18,1);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
#search-modal .modal-content input[type="text"]{
	background: transparent;
	border: none;
	padding:20px;
	color:#301d6e;
	font-size: 20px;
	width: 100%;
}
#search-modal .modal-content input[type="submit"]{
	background:url(../img/ic_search2.png);
	top:20px;
	right:20px;
}
.modal-backdrop.in{
	opacity: .8;
	background: rgba(48, 29, 110, 1);
}
#header{
	z-index: 10;
	position:fixed;
	top:0;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
#header .col-md-10{
	position: relative;
}
.logo{
	margin:8px 0 4px 0;
}
#mainmenu{
	background:transparent;
	border-radius:0;
	border:0;
	box-shadow:none;
	font-size: 14px;
	z-index: 5;
	padding: 26px 0 0 0;
}
#mainmenu .container{
	width:100%;
}
#mainmenu a{
	color: #301d6e;
	padding: 0 16px;
	cursor: pointer;
}
#dprofile:after{
	content: "▾";
	width:10px;
	height:10px;
	font-size: 18px;
	margin-left:5px;
	top: -1px;
	position: relative;
	color:#301d6e;
}
#mainmenu li:hover > a, #mainmenu .active a, #mainmenu a[aria-expanded="true"]{
	color:#ffc412;
	background: transparent;
	box-shadow:none;
}
#mainmenu .navbar-right{
	margin-right:55px;
}
.navbar-right .dropdown-menu{
	left:0;
	right:auto;
}
.dropdown-menu{
	border-radius: 0;
	padding:0;
	border: 0;
	background: #301d6e;
	margin-top:10px !important;
}
#mainmenu .dropdown-menu a{
	padding:10px 16px;
	color: #fff ;
	border-bottom:1px solid #423276;
}
#mainmenu .dropdown-menu a:hover, #mainmenu .dropdown-menu a.active{
	background:#301d6e;
	color:#f7be11 !important;
}

.slide-home{
	width:100%;
	padding-top:70px;
	height:600px;
}
.slide-home > div{
	background:#000;
}
.slide-home div, .page-header{
	position: relative;
	width:100vw;
}
.slide-home div img, .page-header img{
	z-index:0;
	position: relative;
	opacity:0.6;
	width:100%;
}
.slide-home div .caption, .page-header .caption{
	opacity: 0;
	position: absolute;
	top:75%;
	width:80%;
	margin:0 auto;
	left:0;
	right:0;
	z-index:1;
	-webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    color:#fff;
}
.page-header img, .page-header .caption{
	opacity:1;
}
.page-header .caption{
	width:94%;
	top:75%;
}

.page-header {
	padding-bottom: 0;
	margin-bottom: 0;
}
.page-header::after {
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	/* background: -moz-linear-gradient(left, rgba(48,29,110,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(48,29,110,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(48,29,110,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301d6e', endColorstr='#00ffffff',GradientType=1 ); */
}
.slide-home div .caption h1, .page-header .caption h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}
.slide-home div .caption h1 span,{
	font-weight: 500;
	font-size: 40px;
	color: #f7be11;
}

.page-header .caption h1 span{
	font-weight: 500;
	font-size: 40px;
	color: #f7be11;
	background:rgba(48, 29, 110, .6);
	padding: 10px 20px;
	border-left:5px solid #ffc412;
}
.slide-home .slick-active .caption{
	opacity: 1;
	top:60%;
}
.slick-arrow{
	display: none !important;
}
.slick-dots{
	position:absolute;
	bottom: 50px;
	width: 100%;
	z-index: 2;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
	margin:0 5px;
	width:10px;
	height:10px;
	border-radius: 10px;
	background:rgba(255,255,255,.5);
	cursor: pointer;
}
.slick-dots li.slick-active{
	background:#ffc412;
}
.slick-dots li button{
	display: none;
}

.update{
	position: relative;
	z-index: 2;
	margin:-15px 0 -68px 0;
	overflow: hidden;
	min-height: 120px;
}
.update .nav-tabs{
	background: #301d6e;
	z-index:3;
}
.update .nav-tabs li{
	width: 100%;
}
.update .nav-tabs li a{
	color:#f7be11;
	text-align: center;
	border-radius: 0;
	margin:0;
	border:0;
	padding: 15px 0;
	font-size: 15px;
}
.update .nav-tabs li:hover a{
	background: #1c0d4c;
}

.update .nav-tabs li.active a{
	background: #f7be11;
	color: #301d6e;
	border:0;
}
.update .tab-content{
	margin: 0;
	padding-right: 0;
}
.carousel-inner{
	overflow:inherit;
}
.multi-item-carousel{
	padding-left:0px;
}
.multi-item-carousel .carousel-inner > .item {
	transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner > .item > div{
	padding:0;
}
.multi-item-carousel .carousel-inner > .item > div a{
	background: #fff;
	margin-right:15px;
	display: block;
	-webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
float: left;
width:96%;
}
.multi-item-carousel .item img{
	height:100px;
	float: left;
	margin-right:10px;
}
.multi-item-carousel .item h1{
	font-size:13px;
	font-weight: 500;
	padding: 8px 0px;
	margin: 0 0 8px 0;
	line-height: normal;
	display: block;
	/* Fallback for non-webkit */
	display: -webkit-box;
	height: 66px;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multi-item-carousel .item span{
	font-size:10px;
	font-weight: 300;
	color:#6d6d6d;
}
.multi-item-carousel .carousel-inner .active.left {
	left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
	left: 33%;
}
.multi-item-carousel .carousel-inner .next {
	left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
	left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
.multi-item-carousel .carousel-inner > .item {
	transition: 500ms ease-in-out left;
	transition: 500ms ease-in-out all;
	-webkit-backface-visibility: visible;
			backface-visibility: visible;
	-webkit-transform: none!important;
			transform: none!important;
}
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
	background-image: none;
}
.carousel-control{
	width:40px;
	height:40px;
	top:30px;
	border-radius: 40px;
	opacity:1;
	background:rgba(247,190,19,.8);
	background-image: none !important;
}
.carousel-control:hover{
	opacity:1;
	background:rgba(247,190,19,1);
}
.carousel-control i{
	font-size:20px !important;
	margin-top:-11px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -15px;
}
.carousel-control.left{
    margin-left:13px;
}
.carousel-control.right{
    margin-right:30px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -15px;
}
.compro{
	padding: 70px 0 200px 0;
	position: relative;
	text-align: center;
	background: url(../img/bg-compro.jpg) bottom left no-repeat;
	background-size: cover;
	color:#464646;
}
.compro h1{
	text-transform: uppercase;
	color:#301d6e;
	font-weight: 500;
	font-size: 32px;
	margin: 40px 0;
}

.compro h2{
	font-weight: 100;
	font-size: 26px;
	line-height: normal;
	text-align: left;
	margin: 0;
	padding-right:30px;
}

.compro p{
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	line-height: 26px;
}
.service{
	padding:0 50px;
	margin-top: -150px;
}
.service .item{
	padding:0 50px;
}
.service .img{
	border-top:10px solid #f7be11;
	overflow:hidden;
	position: relative;
	background: #301d6e;
	height: 400px;
	-webkit-transition: .5s;
	transition: .5s;
}
.service .item:hover .img{
	height: 550px;
	border:10px solid #f7be11;
}
.service .img h1{
	position: absolute;
	bottom:40px;
	z-index: 2;
	font-size: 30px;
	text-transform: uppercase;
	background: #f7be11;
	padding:10px 20px;
	font-weight: 400;
	color: #301d6e;
}
.service .item:hover .img h1{
	bottom:170px;
	background: transparent;
	color: #f7be11;
}
.service .item img{
	-webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
	width:100%;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	opacity: .8;
}
.service .item:hover img{
    z-index: -1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.service .item:hover .img:after{
	content:"";
	width:100%;
	height:100%;
	position: absolute;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(48, 29, 110, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(48, 29, 110, 1));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(48, 29, 110, 1));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(48, 29, 110, 1));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(48, 29, 110, 1));
	background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(48, 29, 110, 1));
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	top:0;
	left:0;
}
.service .item .caption{
	color: #464646;
	padding:10px 20px;
	z-index: 2;
}
.service .item:hover .caption{
	position: absolute;
	bottom:10px;
	padding:0 30px;
	left: 50px;
	right: 50px;
}
.service .caption h1 small{
	display: block;
	color: #fff;
	font-weight: 300;
}
.service .caption p{
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
}
.service .item:hover .caption p, .service .item:hover .caption a{
	color:#fff;
}
.service .caption a{
	font-size: 13px;
	font-weight: 300;
	margin: 20px 0;
	color: #301d6e;
	border:1px solid #fff;
	text-align: center;
	padding:10px 0;
	display:none;
	/* max-width:95%; */
}
.service .item:hover .caption a{
	display:block;
}
.service .caption a:hover, .service .item:hover .caption a:hover{
	color: #f7be11;
	border: 1px solid #f7be11;
}
.mitra{
	padding:20px 0 60px 0;
	text-align: center;
	background: url(../img/bg-compro.jpg) top left no-repeat;
	background-size: cover;
}
.mitra h1{
	text-transform: uppercase;
	color:#301d6e;
	font-weight: 500;
	font-size: 32px;
	margin: 40px 0;
}
.mitra h1:before{
	content: "";
	width:45%;
	position: absolute;
	height:1px;
	background: #f7be11;
	left:-60px;
	top:57px;
}
.mitra h1:after{
	content: "";
	width:45%;
	position: absolute;
	height:1px;
	background: #f7be11;
	right:-60px;
	top:57px;
}
.mitra img{
	margin:15px;
}

.page-content{
	position: relative;
	float: left;
	background: #f7f7f7;
	padding-top:20px;
	width:100%;
	text-align: left;
}
.page-content h1{
	color: #301d6e;
    font-weight: 500;
	font-size: 32px;
	margin-top: 10px;
}
.page-content h4{
	color: #301d6e;
    font-weight: 500;
    font-size: 18px;
}
.page-content .table .info td{
	background: #f7be11;
	color: #1c0d4c;
}


.tree {
-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
-webkit-transform-origin: 50%;
		transform-origin: 50%;
}

.tree ul {
	position: relative;
	padding: 1em 0;
	white-space: nowrap;
	margin: 0 auto;
	text-align: center;
}
.tree ul::after {
	content: '';
	display: table;
	clear: both;
}

.tree li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .5em 0 .5em;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 1em;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 1em;
}

.tree li a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	top: 1px;
	border: 1px solid #ccc;
	border-top:0;
	-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
}
.tree li > a .name > div img{
	width:120px;
	height:120px;
	margin-bottom: 5px;
}

.tree .position{
	background: #f7be11;
	color:#1c0d4c;
	padding: .5em .75em;
	font-weight: bold;
	width: 190px;
	word-break:break-all;
	font-size: 11px;
}
.tree .name{
	width: 190px;
	background: #1c0d4c;
	color:#fff;
	padding: .5em .75em;
	font-size: 11px;
	line-height: 16px;
}


.tree ul ul .name > div{
	text-align: left;
	border-bottom: 1px solid #4a4a4a;
	padding:3px 0;
}
.tree ul ul .name > div:last-child{
	border-bottom: 0;
}
.tree ul ul .name > div img{
	width:40px;
	height:40px;
	margin-bottom: 0;
	display: inline-block;
	margin-right: 5px;
}

.tree .name > div span{
	display: block;
}

.tree ul ul .name > div span{
	display: inline-block
}

.modal-content{
	float: left;
	width: 100%;
	padding-bottom:20px;
}
.detail_struktur h1{
	font-size:16px;
	background: #301d6e;
	color: #f7be11;
	margin:0 0 20px 0;
	padding:20px;
}
.detail_struktur h2{
	font-size:14px;
	text-align: left;
	margin-top:35px;
	color: #f7be11;
}

.detail_struktur h3{
	font-size:14px;
	text-align: left;
	margin-top:5px;
	color: #1c0d4c
}
.detail_struktur .thumb{
	width:100px;
	height:100px;
	overflow: hidden;
}
.detail_struktur .item{
	margin-bottom: 10px;
}
.detail_struktur .thumb img{
	width:100%;
}
ol{
	font-size: 13px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	line-height: 15px;
	padding-left: 34px;
	margin-bottom: 20px;
}
ol li{
	position: relative;
	z-index: 2;
	padding-left: 20px;
	margin-bottom: 15px;
}
ol li span{
	color:#464646;
	line-height: 20px;
	display: block;
	font-weight: normal;
	text-transform: initial;
	font-size: 14px
}
ol li:before{
	content:"";
	z-index: -1;
	width:28px;
	height:28px;
	background: #ffc412;
	position: absolute;
	left: -24px;
	top: -3px;
}
.news{
	list-style: none;
	margin-top:20px;
}
.news_detail{
	padding:0px 30px;
	margin-bottom:10px;
}
.news li{
	margin-bottom:20px;
}
.news .thumb{
	width:100%;
	overflow: hidden;
	height:200px;
	background: #301d6e;
}

.news img, .news_detail img{
	width:100%;
	-webkit-transition: .3s;
    transition: .3s;
	opacity:1;
}
.news a:hover img{
	opacity: .6;
}
.news h1{
	color:#301d6e;
	font-weight: 500;
	font-size: 16px;
	/* Fallback for non-webkit */
	display: -webkit-box;
	height: 36px;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}
.news_detail h3{
	color:#301d6e;
	font-weight: 500;
	font-size: 26px;
}
.news span{
	color:#464646;
	font-weight: 300;
	font-size: 12px;
	margin: 0px 0 5px 0;
	display: block;
}
.news p{
	color:#464646;
	font-weight: 400;
	font-size: 12px;
	/* Fallback for non-webkit */
	display: -webkit-box;
	height: 36px;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news_detail h4{
	color:#464646;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}
.news_detail p{
	color:#464646;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.date{
	color: #ffc412;
}
.pagination{
	padding: 0 30px;
	text-align: center !important;
	float: right;
	margin-bottom: 30px;
}
.pagination li a{
	border-radius: 0 !important;
	margin:2px;
}
.pagination li.active a{
	background: #ffc412;
	border-color: #ffc412;
}
.submenu{
	width: 100%;
	margin-bottom: 50px;
}
.submenu a{
	display: block;
	padding:15px;
	background: #301d6e;
	color:#fff;
	margin-bottom: 1px;
}
.submenu a:hover{
	background: #1c0d4c;
}
.submenu a.active{
	background: #f7be11;
	color: #301d6e;
}
.other{
	font-size: 13px;
	font-weight: 300;
	margin: 10px 30px 30px 10px;
	color: #fff;
	padding:9px 15px;
	background: #ffc412;
	width:150px;
	float: right;
	border:1px solid #ffc412;
	display: block;
	text-align: center;
	-webkit-transition: .2s;
    transition: .2s;
    text-transform: uppercase;
}
.other:hover{
	background:#fff;
	color: #ffc412;
}
.map-container{
	padding:30px;
}
.info-map{
	position: absolute;
	top:60px;
	left:50px;
	z-index:3;
	background: rgba(255,255,255,1);
	width: 380px;
	-webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.info-map h1{
	text-transform: uppercase;
	color:#301d6e;
	font-weight: 500;
	font-size: 24px;
	padding:0 20px;
}
.info-map p{
	color:#301d6e;
	font-weight: 300;
	font-size: 14px;
	padding:0 20px;
}
.info-map > div{
	background: #f7be11;
	border-left: 1px solid #fff;
}
.info-map > div div{
	border-right: 1px solid #fff;
	font-size: 12px;
	padding:15px;
	text-align: center;
}
.map-container iframe.clicked{
	pointer-events: auto;
}
.sosmed{
	padding:10px 30px 20px 30px;
	float: left;
	width: 100%;
	margin: 0;
}
.sosmed h1{
	color:#301d6e;
	font-weight: 500;
	font-size: 32px;
	margin:15px 0 5px 0;
}
.instagram-box .top, .twitter-box .top, .youtube-box .top{
	padding:0 0 8px 0;
	margin-bottom:10px;
	border-bottom: 1px solid #c4408f;
	width:98%;
}
.instagram-box .follow, .twitter-box .follow, .youtube-box .follow{
	background: #c4408f;
	border-radius:4px;
	color:#fff;
	display: inline-block;
	padding:4px 10px;
	margin-right:0px;
}
.youtube-box{
	height: 300px;
	overflow: hidden;
}
.ytce-li{
	width:22% !important;
	overflow: hidden;
	margin:0 !important;
}
.ytce-li a{
	width:100% !important;
}
.ytce-li img{
	width:100% !important;
}
.twitter-box .top{
	border-color: #74a6e6;
}
.twitter-box .follow{
	background: #74a6e6;
}
.youtube-box .top{
	border-color: #f21c0d;
}
.youtube-box .follow{
	background: #f21c0d;
}
.twitter-box .timeline-box{
	width:100%;
	height:222px;
	overflow: hidden;
}
.twitter-box .timeline-box iframe{
	margin-top:-50px !important;
}
.instagram-box .ig_follower, .twitter-box .twitter_follower, .youtube-box .youtube_follower{
	background: #fff;
	border:1px solid #b7b7b7;
	color:#858585;
	border-radius:4px;
	display: inline-block;
	padding:3px 8px;
	font-weight:200;
}

.footer{
	float: left;
	border-top: 5px solid #f7be11;
	background: #301d6e;
	padding:20px;
	color: #fff;
	width: 100%;
	margin: 0;
}
.footer p{
	margin-top: 10px;
}
.footer img{
	width: 120px;
	margin-top: 20px;
}
@media (max-width: 1200px) {
	#mainmenu a{
		font-size:12px;
		padding:0 8px;
	}
}

@media (max-width: 800px) {
	#header > div{
		padding:0;
	}
	.navbar-toggle{
		left:10px;
	}
	.search{
		background: #301d6e;
		width: 100%;
		border-bottom:1px solid #423276;
		height: 42px;
		position: absolute;
		top:0;
	}
	.search input[type="submit"]{
		top: 12px;
		background-size:20px;
		background-repeat: no-repeat;
		right:5px;
	}
	.search input[type="text"]{
		display: inline-block;
		background: transparent;
		border: none;
		padding-left:15px;
		color: #f7be11;
	}
	.search button{
		top: 8px;
		right: 8px;
	}
	.navbar-toggle{
		border:0;
		margin: 0;
		padding:15px 15px 22px 15px;
		background:transparent !important;
	}
	.navbar-toggle .icon-bar{
		background:#301d6e !important;
	}
	.row{
		margin:0;
	}
	.navbar-toggle{
		float: left;
		margin-top:7px;
	}
	.logo{
		max-width:80%;
		position: absolute;
		left:40px;
	}
	.modal-dialog{
		padding:10px 50px;
	}
	#mainmenu{
		padding:0;
		margin-bottom:0px;
	}
	#mainmenu a{
		padding:10px 0 10px 15px;
		color:#fff;
	}
	#dprofile:after{
		content: "▾";
		color:#fff;
	}
	.navbar-nav .open .dropdown-menu{
		margin-top:0px !important;
	}
	#mainmenu .dropdown-menu .active a{
		padding:10px 30px;
	}
	.navbar-collapse{
		position: relative;
		background: #301d6e;
	}
	.navbar-nav, #mainmenu .navbar-right{
		margin:50px 0 10px 0;
		padding:0;
	}
	.slide-home{
		padding-top:40px;
		height:auto;
	}
	.slide-home div .caption h1{
		font-size: 16px;
		line-height: 16px;
		margin-left:10px;
	}
	.slide-home div .caption h1 span{
		font-size: 16px;
	}
	.slick-dots{
		bottom:0px;
		padding:0;
	}
	.update .nav-tabs{
		width:100%;
		margin: 0 auto;
	}
	.update .tab-content{
		margin-top: 10px;
	}
	.update .nav-tabs li{
		width:50%;
	}
	.multi-item-carousel .carousel-inner > .item > div {
		margin-top: 5px;
	}
	.carousel-control{
		display:none;
	}
	.compro h1{
		font-size:16px;
		margin:20px 0;
	}
	.compro h2{
		font-size:20px;
		margin-bottom:20px;
	}
	.mitra h1:before, .mitra h1:after{
		display:none;
	}
	.compro{
		padding:20px 0 50px 0;
		margin-bottom:50px;
	}
	.service, .sosmed, .footer{
		padding:0 8px;
	}
	.service .img{
		height:260px;
	}
	.service .img h1{
		font-size:20px;
		bottom: 10px;
	}
	.service .caption p{
		margin: 0 0 5px 0;
		font-size: 14px;
	}
	.service .caption a{
		font-size: 12px;
		display:block;
		border: 1px solid #301d6e;
	}
	.service .item{
		margin-bottom:10px;
	}
	.tree li{
		display: block;
	}
	.tree ul ul::before, .tree li::before, .tree li::after{
		display: none;
	}
	.mitra{
		border-top:1px solid #f7be11;
		padding-top: 0;
	}
	.mitra h1{
		font-size: 22px;
		margin: 20px 0;
	}
	.mitra img{
		width:30%;
	}
	.page-header .caption h1{
		font-size: 20px;
		line-height: 15px;
		margin-top:0;
	}
	.page-header .caption h1 span{
		font-size: 12px;
		background:rgba(48, 29, 110, .6);
		padding: 5px 10px;
		border-left:5px solid #ffc412;
	}
	.sosmed{
		display:none;
	}
	.sosmed h1{
		font-size: 22px;
	}
	.footer .col-md-10{
		padding: 0;
	}
}

@media (max-width: 500px) {
	.info-map{
		position: relative;
		top:auto;
		left: auto;
		width: 100%;
		padding:30px;
	}
	.footer .col-md-2{
		display:none;
	}
}
