@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i&display=swap');
html{font-size: 17px;}
body{font-size: 1rem;line-height: 1.5em;color:#2b2e34;padding: 30px;font-family: "Raleway",sans-serif;}
h1{font-size: 2rem; margin-bottom: 1em;font-weight: bold;}
h2{font-size: 1.8rem;margin-bottom: 1em;font-weight: bold;}
h3{font-size: 1.4rem;margin-bottom: 1em;font-weight: bold;}
h4{font-size: 1.2rem;margin-bottom: 1em;font-weight: bold;}
h5{font-size: 1rem;margin-bottom: 1em;font-weight: bold;}
h6{font-size: 0.9rem;text-transform: uppercase;letter-spacing: 0.1em;margin-bottom: 1em;font-weight: bold;}

blockquote{padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eee;background: #fafafa;}
    blockquote *:last-child{margin-bottom: 0;}
    blockquote *:first-child{margin-top: 0;}