@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Web-Source-Sans-Bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcesanspro-bold-webfont.html') format('woff2'),
    url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
    url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Web-Source-Sans';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcesanspro-regular-webfont.html') format('woff2'),
    url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Web-Source-Sans-Semibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcesanspro-semibold-webfont.html') format('woff2'),
    url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
    url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Web-Domine';
    src: url('fonts/domine-regular-webfont.eot');
    src: url('fonts/domine-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/domine-regular-webfont.html') format('woff2'),
    url('fonts/domine-regular-webfont.woff') format('woff'),
    url('fonts/domine-regular-webfont.ttf') format('truetype'),
    url('fonts/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Web-OpenSans-Bold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-bold-webfont.html') format('woff2'),
    url('fonts/opensans-bold-webfont.woff') format('woff'),
    url('fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Web-OpenSans-Semibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-semibold-webfont.html') format('woff2'),
    url('fonts/opensans-semibold-webfont.woff') format('woff'),
    url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Main Configuration */
html,
body {
	margin: 0;
	height: 100%;
	font-family: "Web-Source-Sans";
	color : #000000;
	font-size: 18px;
	background: #006;
}

ul,li { list-style:none; }

  

  
.regulasi
  	{ background:url(images/regulasi_bg.jpg); background-size:no repeat; width:1263px; height:695px; margin:auto; 
	position:relative;  }
  
.syarat
  	{ background:url(images/syarat_bg.jpg); background-size:no repeat; width:1263px; height:695px; margin:auto; 
	position:relative;  }
  
  
.top-header
	{ height:64px; text-align:right; margin: auto; width:1263px;  position: relative; 
	background:url(images/index_01.jpg); }
	
 .top-header2
	{ height:64px; text-align:right; margin: auto; width:1263px;  position: relative; 
	background:url(images/profile_01.jpg)  }
	
 
 #atas { height:64px; width:1140px; margin: auto;  position: relative; padding-bottom:10px; }
	
.tombol{
  background:url(images/bg_button.jpg);
  color:white;
  border:1px solid #FFF;
  padding:6px 15px;
  text-decoration:none;
  font-family:sans-serif;
  font-size:11pt;
  text-align:right;
}


form {
    width:180px; height:32px;
    float:right; position:relative;
	 margin:-20px 0 0 30px;

}
.search { width:120px; height:31px;
    padding:10px 15px;
    background:url(images/bg_button.jpg);
    border:1px solid #FFF;
		font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#FFF;

}
	
.button {
    position:relative;
    padding:0px;
    left:-6px;
    top:12px;
    
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}	
	

.barislogo	{ height:94px;  float:left; width:1263px;  position: relative; background:url(images/bg_biru_kuning.jpg);  }

 	.barislogo #kiri_logo  {width: 500px; text-align:right;  height:94px; float:left; position:relative; }
	

<!--  I N D E X  ------------------------------------------------   -->

.index
  	{ background:url(images/index_bg.jpg); background-size:no repeat; width:1263px; height:695px; margin:auto; 
	position:relative;  }

.menu  { width:1263px; height:102px; margin:auto; position:relative; background:url(images/row_02.jpg); text-align:right;}

	.menu #kanan_menu {width: 760px; height:40px; font-family: 'Web-OpenSans-Semibold'; 
							font-style: normal; font-size:15px;  float:right; position:relative; padding-top:25px; 
							padding-right:20px; }
	.menu #kanan_menu a { color:#006; text-decoration:none ; font-style: normal;  }
	.menu #kanan_menu a:hover { color:#FFF;  }
	
	
			
			#home  {width: 35px; text-align:left;  height:40px; background:none; 
			float:left; position:relative;  }
					
			#profile  {width: 70px; text-align:left;  height:40px; background:none; 
			float:left; position:relative; color:#006;  }
			#regulasi  {width: 160px; text-align:left;  height:40px; background:none; float:left; position:relative; color:#006;  }
			#perizinan {width: 195px; text-align:left;  height:40px; background:none; float:left; position:relative; color:#006;  }
			#badanusaha {width: 170px; text-align:left;  height:40px; background:none; float:left; position:relative; color:#006;  }
			#kontak { width: 60px; text-align:left;  height:40px; background:none; float:left; position:relative; color:#006;  }

h1 { font-family: 'Web-OpenSans-Semibold'; font-size:30px; color:#333; line-height:10px;}
h2 { font-family: 'Web-OpenSans-Semibold'; font-size:22px; color:#666; line-height:10px;}

.content-index 	{ height:433px; width:1263px; margin:auto; position:relative; }

   
#isi { height:380px; width:670px; float:right; position:relative; background:none; 
		font-family: 'Web-Source-Sans'; font-size:14px;  color:#666; 
		padding-right:50px; margin-top:20px; }


.footer-index { height:96px; background:url(images/y_bawah.jpg); 
				width:1203px; margin:auto; position:relative;  
				padding-top:0px; padding-left:60px;
				font-family: 'Web-Source-Sans'; font-style: normal; font-size:14px;  color:white;
				}

.foot-prof { height:96px; background:url(images/foot-prof.jpg);
				width:1203px; margin:auto; position:relative;  
				padding-top:0px; padding-left:60px;
				font-family: 'Web-Source-Sans'; font-style: normal; font-size:14px;  color:white;
				}


.foot-syarat { height:96px; background:url(images/foot-syarat.jpg);
				width:1203px; margin:auto; position:relative;  
				padding-top:0px; padding-left:60px;
				font-family: 'Web-Source-Sans'; font-size:14px;  color:white;
				}



				
				
				
				
	
	
.content-regulasi	{ height:442px; width:1263px; float:left; position:relative;}

.content-regulasi  h1 { font-size:30px; color:black;  line-height:10px; }
.content-regulasi  h2 { font-size:20px; color:#666;  line-height:10px; }

	.content-regulasi  #kanan  { 
			width:650px; float:right; 
			position:relative; 
			background:none;  
			margin-top:20px; 
			height:3S0px; 
			font-family: 'Web-OpenSans-Semibold'; font-style: normal; font-size:14px;  color:black;
			padding-left:40px;
			padding-right:60px;
			text-align:justify;
			
			}
			
	.content-regulasi  #kiri  {
		 width:360px; float:right; 
		 position:relative; 
		 background:#FFF;opacity:0.9;filter:alpha(opacity=90);  
		 margin-top:30px; 
		 height:30px; 
		padding:5 30 20 20px;
	     font-family: 'Web-Source-Sans';   color:#000;
		 }
	
	
.content { height:442px; width:1263px; float:left; position:relative;}

		.content #kanan  { 
			width:680px; float:left; 
			position:relative; 
			background:yellow;  

			height:3S0px; 
			font-family: 'Web-OpenSans-Semibold'; font-style: normal; font-size:14px;  color:black;
			
			text-align:justify;
			
			}

		.content  #kiri  {
		 width:312px; float:left;
		 text-align:left; 
		 position:relative; 
		 background:#FFF;opacity:1.0;filter:alpha(opacity=100);  
		 margin-top:20px; 
		 margin-left:190px;
		 height:30px; 
		padding:5 30 20 20px;
	     font-family: 'Web-Source-Sans';   color:#000;
		 }

	.content h1 { font-size:30px; color:black;  line-height:10px; }
	.content h2 { font-size:26px; color:#666;  line-height:10px; }


.tabelku { 
	font-family: 'Web-Source-Sans';  
	font-size:14px; color:black;  border: 1px solid #000;  }
	
.warnath { color:white; font-family: 'Web-Source-Sans';  font-size:16px; }
.warnatr1 { color:black; font-family: 'Web-Source-Sans';  font-size:14px; background:#FC6; }
.warnatr2 { color:black; font-family: 'Web-Source-Sans';  font-size:14px; background:#FF9 };

			
.footer { width:1263px; height:76px; background:url(images/bg_biru_copy.png);opacity:0.8;filter:alpha(opacity=80); float:left; position:relative;}

	.footer #copyright 
		{ width:1011px; height:56px; font-family: 'Web-Source-Sans';  font-size:15px; line-height:18px; color:#FFF; float:left; position:relative; padding:20 0 0 60px; }

	.footer #infologo 
		{ width:192px; height:76px; float:left; position:relative; }


.footer2 { width:1263px; height:76px; background:url(images/bg_biru_copy.png);opacity:0.6;filter:alpha(opacity=60); float:left; position:relative;}

.footer2 #copyright 
		{ width:900px; height:56px; font-family: 'Web-Source-Sans';  font-size:15px; line-height:18px; color:#FFF; float:left; position:relative; padding:20 0 0 60px; }


.footer3 { width:1263px; height:76px; background:url(images/bg_biru3.jpg);opacity:0.8;filter:alpha(opacity=80); float:left; position:relative;}



.sleret-footer { width:100%; height:20px; background:url(images/paling_bawah.gif); }

	
	
	
	
