@charset "utf-8";
html,
body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
    font-size: 18px;
    background-color: #000032;
}
.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.navbar-right {
    margin-right: 10px !important;
}
.wrapall {
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 150px;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 41.55%;
}
.header {
    background: none;
    max-width: 100%;
    min-height: 64px;
    text-align: right;
}
.header .col-md-5 {
    padding: 22px 0 22px 40px;
    margin-left: -3px;
    background: rgba(0, 0, 0, .3);
}
.header .col-md-5.bg-blue {
    background: #1e86c3;
}
.header .col-md-3,
.header .col-md-4 {
    background: #fff;
    padding-top: 15px;
    padding-right: 0px;
}
.header .col-md-4 {
    padding-right: 20px;
}
.searchbox {
    min-height: 34px;
    width: 120px;
    padding: 5px;
    border: 1px solid #fff;
    line-height: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    float: left;
    position: relative;
    margin-left: 10px;
    background: #E3EAF4;
    vertical-align: middle;
    font-size: 14px;
}
.searchbox::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}
.input-text{
    position:relative;
    margin-bottom:5px;
}
.input-text span{
    right:15px;
    top:5px;
    position:absolute;
}
.searchbwh {
    height: 34px;
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #CCC;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    float: left;
    position: relative;
    margin-right: 10px;
    background: none;
}
.selectbox {
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #CCC;
    float: left;
    position: relative;
    margin-right: 10px;
    background: none;
}
.formbox {
    float: right;
    position: relative;
}
.searchbut {
    background: url(gambar/search_icon.jpg);
    width: 41px;
    height: 31px;
    border: 1px solid #CCC;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.footer {
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 14px;
    background: rgba(0, 113, 170, .9);
    position: absolute;
    border-bottom: 40px solid #053365;
}
.footer:after {
    content: "";
    bottom: -15px;
    position: absolute;
    width: 100%;
    height: 6px;
    background: #fcce00;
}
.tagline {
    margin-top: 200px;
}
.tagline .col-md-2 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    background: rgba(1, 0, 102, .7);
}
.tagline .col-md-5 {
    color: #010066;
    font-size: 18px;
    padding: 23px;
    background: rgba(255, 255, 255, .7);
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    height: auto;
    float: left;
    padding-left: 40px;
    margin-left: 0;
}
.navbar-inverse {
    border-radius: 0px;
    border: 0px none;
    max-width: 100%;
    background: #010066;
}
.navbar-inverse .container-fluid {
    padding: 0;
}
.navbar-collapse {
    background: #fcce00;
    min-height: 100%;
}
.navbar-collapse a {
    color;
    black;
}
.navbar-nav {
    padding: 27px 0 25px 0;
}
.navbar-nav ul,
li {
    list-style: none;
}
.navbar-nav li a {
    font-size: 16px;
    color: #000 !important;
    font-weight: bold;
    padding: 16px 15px;
    font-weight: bold;
}
.navbar-nav li a.active-menu,
.navbar-nav li a:hover {
    color: #fff !important;
}
.dropdown-menu li a:hover {
    background: #C1DDDD;
}
.judul {
    width: 60%px;
    background: white;
    padding-left: 20px;
    padding-right: 50px;
    float: right;
    margin-top: 10px;
    border: 0px none;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    border-radius: none;
}
.isitext {
    font-size: 14px;
    color: #333;
}
.isikonten {
    width: 100%;
    background: white;
    padding-left: 0px;
    padding-right: 10px;
    float: right;
    border: 0px none;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.signup {
    background: #fff url(images/signup.jpg) no-repeat;
    max-width: 100%;
    max-height: 705px;
    position: relative;
}
.content {
    background: none;
    max-width: 100%;
    min-height: 433px;
    position: relative;
    margin-top: 0px;
}
.content .col-md-5,
.content .col-md-7 {
    padding-top: 20px !important;
}
.submenu {
    width: 100%;
    height: 50px;
    background: #CCC;
    color: white;
    text-align: left;
    padding-left: 0px;
}
.submenu ul,
li {
    list-style: none;
    text-decoration: none;
}
.submenu li {
    position: relative;
}
.submenu select {
    border-radius: 0;
    margin: 7px 0 0 5px;
}
.submenu li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    position: relative;
}
.submenu li a:hover {
    background: #666;
    color: white;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
}
.submenu .dropdown-menu {
    width: 220px;
    border-radius: 0;
    box-shadow: 0;
    border: 0;
    padding: 0;
}
.submenu .dropdown-menu li {
    width: 100%;
}
.submenu .dropdown-menu li a {
    display: block;
    background: #585858;
    width: 100%;
    color: #fff;
    border-color: #8a8a8a;
}
.submenu .dropdown-menu li a:hover {
    background: #8a8a8a;
}
.header {
    color: #fff;
}
.header .btn-primary,
.searchbox,
#registration input[type="submit"],
.login .col-md-4 input[type="submit"] {
    border: 1px solid #fff;
    border-radius: 0;
    margin-left: -5px;
    background: #0079b2;
    background: -moz-linear-gradient(top, #0079b2 0%, #0065a0 100%);
    background: -webkit-linear-gradient(top, #0079b2 0%, #0065a0 100%);
    background: linear-gradient(to bottom, #0079b2 0%, #0065a0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0079b2', endColorstr='#0065a0', GradientType=0);
}
.date-lang {
    text-align: left;
    padding-left: 35px;
    font-size: 14px;
}
.date-lang a {
    color: #fff;
}
.header #user-menu {
    display: block;
    float: right;
}
.searchbox {
    margin-left: 10px;
}
.searchbox:focus {
    width: 200px;
    outline: none;
}
#main-menu {} .navbar-nav li a {} .navbar-nav li a.active-menu {
    color: #fff;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: transparent;
}
.navbar-nav>li>.dropdown-menu {
    padding: 0;
}
.dropdown-menu {
    border-top: 4px solid #000;
}
.dropdown-menu li a {
    padding: 8px 5px;
    background: #fcce00;
    border-top: 1px solid #ffb200;
}
.dropdown-menu li a:hover {
    background: #ffb200;
}
.title-page {
    color: #003462;
    text-transform: uppercase;
    display: block;
    font-size: 28px;
    padding: 0;
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: left;
}
.title-page span {
    display: block;
    font-size: 16px;
    color: #666;
}
.judul {
    margin-top: 0;
    font-size: 26px;
    color: #003462;
    width: 80%;
    text-align: left;
    border-radius: 0
}
.submenu {
    margin: 0;
    height: auto;
    background: #CCC;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.submenu:before,
.submenu:after {
    content: '';
    height: 100%;
    width: 38px;
    background: #CCC;
    position: absolute;
    right: 100%;
    top: 0
}
.submenu:after {
    right: auto;
    left: 100%;
    width: 36px;
}
.submenu li {
    float: left;
}
.submenu li a {
    margin: 0;
    padding: 15px;
    background: transparent;
}
.submenu li a.active {
    background: #585858;
    color: #fff;
}
.isikonten {
    width: 94%;
    margin: 0 auto;
    float: none;
    padding: 0;
}
.isikonten .submenu {
    margin-left: 0;
}
.content-area {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: left;
    font-size: 14px;
    width: 100%;
    height: 300px;
    overflow: auto;
    margin: 10px 0;
    padding-right: 20px;
}
.content-area ul {
    padding-left: 16px;
}
.content-area ul li {
    list-style-type: disc !important;
}
.content-area ol {
    padding-left: 16px;
}
.content-area ol li {
    list-style-type: decimal !important;
}
.content-area table {
    vertical-align: text-top;
}
.content-area table td {
    padding: 10px 0;
}
.content-area table thead {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    font-weight: bold;
    font-size: 15px;
}
.content-area table tbody td {
    vertical-align: text-top;
}
.content-area table tbody td:nth-child(2) {
    color: #29add8;
}
#registration {} #registration input[type="text"],
#registration input[type="password"] {
    width: 100%;
    border: 0;
    background: #c9ffff;
    margin-bottom: 5px;
    padding: 10px;
}
.upload-file {
    margin: 10px 0;
}
.upload-file label {
    font-size: 10px;
    padding: 5px 3px 4px 3px;
    width: 110px;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.upload-file input {
    display: inline;
    margin-left: 10px;
    color: #fff;
    position: absolute;
    left: 40px;
    top: 3px;
}
#registration input[type="submit"] {
    float: right;
    color: #fff;
    padding: 5px 50px;
    margin-top: 5px;
}
.login .col-md-4 {
    background: rgba(0, 52, 98, .7);
}
.login .col-md-4 h1 {
    margin: 0 0 20px 0;
    font-size: 33px;
    font-weight: normal;
    color: #ffca45;
}
.login .formbox {
    font-size: 14px;
    color: #fff;
    float: none;
    padding: 80px 20px 0 20px;
}
.login .col-md-4 .input-group {
    margin-bottom: 10px;
}
.login .col-md-4 input,
.login .input-group-addon {
    border-radius: 0;
    border: 0;
    background: #fff;
}
.login .col-md-4 h1 b {
    color: #fff;
}
.login .col-md-4 a {
    color: #fff;
}
.login .input-group .form-control {
    padding: 20px 10px;
}
.login .col-md-4 .captchabox {
    width: 100%;
    position: relative;
    margin-top: 10px;
    float: left;
}
.captchabox input {
    padding: 13px 10px;
    position: relative;
    top: 2px;
    width: 239px;
    color: #999;
}
.login .col-md-4 input[type="submit"] {
    margin: 20px 0;
    width: 180px;
}
.log-footer {
    margin-top: 50px;
    border-top: 10px solid #fcce00;
    padding: 20px;
    color: #fff;
    background: rgba(0, 52, 98, 1);
    font-size: 14px;
}
.member {
    background: #fff;
}
.member .date-lang {
    background: #438cc1;
}
.title-member {
    font-weight: bold;
    color: #989898;
    font-size: 24px;
    padding-left: 40px;
}
.member-sidenav {
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #232e34;
    overflow-x: hidden;
    padding-top: 0px !important;
    transition: .3s;
}
.title-menu {
    height: 58px;
    background: #3c7eae;
    color: #fff;
    padding: 14px 0;
    font-size: 20px;
    text-align: center;
}
.member-sidenav span {
    padding: 10px 20px;
    font-size: 12px;
    color: #394a51;
    display: block;
    background: #1a2225;
}
.member-sidenav ul {
    padding-left: 0px;
}
.member-sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #bac7cf;
    display: block;
    border-left: 3px solid #232e34;
}
.member-sidenav a i {
    margin-right: 10px;
}
.member-sidenav a.active,
.member-sidenav a:hover {
    background: #1f292b;
    color: #fff;
    border-color: #3c7eae;
}
#member-main {
    transition: .3s;
    background: #ecf1f7;
    width: 100%;
    margin-left: 0%;
    min-height: 600px;
    position: relative;
    z-index: 2;
}
#member-main.opened {
    width: 80%;
    margin-left: 20%;
}
#member-main .navbar {
    background: #438cc1;
    border-radius: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}
#member-main .navbar-toggle {
    display: inline;
    float: none;
    margin-left: 3px;
}
#member-main .navbar p {
    margin-top: 17px;
}
#member-main .navbar .btn {
    margin-top: 10px;
    background: #2cbff3;
    color: #fff;
    border: none;
}
#member-main .page-header h1 {
    color: #48494a;
    font-size: 26px;
}
.form-item {
    margin-top: 10px;
    background: #fff;
    font-size: 16px;
    border-top: 3px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.form-item input {
    margin-bottom: 10px;
    border-radius: 0;
    background: #eee;
    border: 1px solid #bfbfbf;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.form-item table td,
.form-item table th {
    padding: 7px 15px !important;
}
.form-item table i {
    color: #2cbff3;
}
.footer .container-fluid {
    padding-left: 50px;
}
@media (max-width: 1024px) {
    .navbar-nav li a {
        font-size: 14px;
        padding: 16px 9px;
    }
    .content {
        min-height: auto;
    }
    .content-area {
        height: 260px;
    }
    .footer {
        background: rgba(0, 113, 170, 1);
    }
}
@media (max-width: 1000px) {
    .wrapall {
        background-size: 100%;
        background-position: 0 -130px;
    }
    .header .col-md-5,
    .title-member {
        display: none;
    }
    .header {
        position: absolute;
        top: 20px;
        z-index: 2;
        right: 20px;
    }
    .header .searchbox:focus {
        width: 110px;
    }
    .navbar-nav {
        float: none;
        width: 98%;
        margin: 0 auto;
        text-align: center;
    }
    .navbar-nav li {
        float: none;
        display: inline;
    }
    .navbar-nav li a {
        font-size: 18px;
        padding: 16px;
        display: inline;
    }
    .dropdown-menu li a {
        width: 100%;
        display: block;
    }
    .content {
        margin-top: 200px;
    }
    .content .col-md-5,
    .content .col-md-7 {
        float: left;
    }
    .content .col-md-5 .judul {
        float: left;
        padding-left: 30px;
    }
    .content .col-md-7 {
        background: #fff;
        width: 100%;
    }
    .content-area {
        height: auto !important;
        overflow: initial;
        padding-right: 0;
    }
    #member-sidenav {
        width: 30%;
    }
    #member-main.opened {
        width: 70%;
        margin-left: 30%;
    }
}
@media (max-width: 850px) {
    .navbar-nav li a {
        font-size: 16px;
        padding: 14px;
    }
}
@media (max-width: 770px) {
    .wrapall {
        background-position: 0 0px;
        padding-bottom: 0
    }
    .home {
        background-position: 0px 130px;
    }
    .header {
        top: 68px;
        width: auto;
        left: 34px;
        right: 70px;
    }
    .header .formbox {
        float: none;
        position: relative;
    }
    .header .formbox .searchbox {
        width: 100%;
        float: none;
    }
    .header .formbox .btn-primary {
        position: absolute;
        left: 99%;
        top: 0;
        display: inline;
    }
    .navbar {
        height: 130px;
    }
    #member-main .navbar {
        height: auto;
    }
    #member-main .navbar span {
        float: right;
    }
    #member-main .form-item .navbar > span {
        float: left;
        margin-left: 15px;
    }
    #member-main .form-item .navbar .navbar-right {
        float: right;
    }
    .navbar-inverse .navbar-toggle {
        position: absolute;
        left: 10px;
        border: 0;
        color: #fff;
        bottom: 0px;
    }
    .header #user-menu.collapse {
        display: none;
        float: none;
    }
    .header #user-menu.collapse.in {
        display: block;
    }
    .navbar-inverse .btn-user {
        left: auto;
        right: -5px;
    }
    #user-menu {
        background: #fcce00;
        position: absolute;
        z-index: 99;
        top: 62px;
        left: -19px;
        right: -56px;
    }
    #user-menu a {
        background: #fcce00;
        border: 0;
        display: block;
        font-size: 16px;
        padding: 10px 20px;
        border-top: 1px solid #deb80f;
        margin: 0 20px;
        color: #000;
        font-weight: bold;
        text-align: left;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background: transparent;
    }
    .navbar>.container-fluid .navbar-brand {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .navbar-brand>img {
        padding: 0;
        width: 320px;
        margin: 0 auto;
    }
    .navbar .col-xs-12 {
        width: 96%;
        margin: 0 auto;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .navbar-nav {
        padding: 10px 0;
        text-align: left;
    }
    .navbar-nav li {} .navbar-nav li a {
        display: block;
        font-size: 16px;
        padding: 10px 30px;
        border-top: 1px solid #deb80f;
    }
    .navbar-nav > li:first-child span:before {
        left: -25px;
        position: relative;
    }
    .navbar-nav > li:first-child span:after {
        left: -20px;
        position: relative;
        content: " HOME";
        width: 100px;
        height: 40px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }
    .navbar-nav > li:first-child a {
        border: none;
    }
    .login {
        background-size: 250% !important;
        background-position: -100px 0;
    }
    .login .formbox {
        padding: 50px 10%;
        margin-top: 20px;
    }
    .login .formbox h1 {
        font-size: 20px;
    }
    .home .footer {
        margin-top: 0px;
    }
    .footer {
        position: relative;
        margin-top: 20px;
        padding-top: 10px;
    }
    .footer .container-fluid {
        padding-left: 23px;
        font-size: 12px;
        position: relative;
    }
    .footer .col-md-4 {
        position: absolute;
        top: 0;
        right: 0px;
    }
    .footer img {
        width: 100px;
    }
}
@media (max-width: 400px) {
    .judul,
    .title-page {
        width: 100%;
        font-size: 20px;
    }
    #user-menu {
        left: -28px;
        right: -63px;
    }
    .home {
        background-size: 280% !important;
        background-position: -80px 0 !important;
        min-height: auto !important;
    }
    .submenu select {
        margin: 0px 0 7px 5px;
    }
    .login {
        background-size: 400% !important;
        background-position: -200px 0;
    }
    .captchabox input {
        width: 115px;
    }
    .login .col-md-4 input[type="submit"] {
        width: 100%;
        padding: 10px 0;
    }
    #member-sidenav {
        transition: .3s;
        z-index: 9;
        width: 200px;
        left: -220px;
    }
    #member-sidenav.opened {
        left: 0px;
    }
    #member-main.opened .navbar-toggle {
        margin-left: 0px;
    }
    #member-main .navbar-toggle {
        transition: .3s;
        margin-left: 200px;
    }
    #member-main.opened {
        width: 100%;
        margin-left: 0px;
    }
    .footer {
        border-bottom-width: 20px;
    }
    .footer img {
        display: none;
    }
}
